<div class="row">
    <div class="col-s12">
        <h1 class="brand">Knoester</h1>
        <h3 class="brandSub">Rogier</h3>
        <hr>
        <div class="navigation">
            <ul>
                <li>
                    <a ui-sref="home">Home</a>
                </li>
            </ul>
        </div>

    </div>
</div>