@blue: #03A9F4;

html, body, .fullheight {
  min-height: 100% !important;
  height: 100%;
}
body {
  color: rgba(0, 0, 0, 0.87);
}


.hidden {
  display: none;
}

.text-center {
  text-align: center;
}

a {
  cursor: pointer;
  color: @blue;
}


.blue-text {
  color: @blue;
}
.blue {
  background-color: @blue;
}

/* label focus color */
.input-field input[type=text]:focus + label {
  color: @blue;
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid @blue;
  box-shadow: 0 1px 0 0 @blue;
}
