html,
body,
.fullheight {
  min-height: 100% !important;
  height: 100%;
}
body {
  color: rgba(0, 0, 0, 0.87);
}
.hidden {
  display: none;
}
.text-center {
  text-align: center;
}
a {
  cursor: pointer;
  color: #03A9F4;
}
.blue-text {
  color: #03A9F4;
}
.blue {
  background-color: #03A9F4;
}
/* label focus color */
.input-field input[type=text]:focus + label {
  color: #03A9F4;
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #03A9F4;
  box-shadow: 0 1px 0 0 #03A9F4;
}
.input-field .prefix.active {
  color: #03A9F4;
}
.deleteIconKeyword {
  font-size: 1.3rem !important;
  cursor: pointer;
}
.deleteIconKeyword:hover {
  color: #03A9F4;
}
