@navColor: #03A9F4;
@brandTextColor: white;

@import 'animate.less';

.content {
  margin-top: 25%;
}

#collectorForm {
  position:relative;
}

.keywords, .filters, .categories {
  margin: 45px 0 30px 0;
  min-height:10px;
  padding-left: 15px;

  ul {
    li {
      display:block;
      width:100%;
    }
  }

}

.repeat-keyword.ng-enter, .repeat-filter.ng-enter {
  animation: keywordEnter ease-in-out 1s;
}

.repeat-keyword.ng-leave, .repeat-filter.ng-leave {
  animation: keywordLeave ease-in-out 1s;
}

@keyframes keywordEnter {
  0% {
    max-height: 0;

    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    max-height: 100px;

    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

@keyframes keywordLeave {
  0% {
    max-height: 100px;

    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
  100% {
    max-height: 0;

    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

}
#collector-form-views {
  position: absolute;
  width:100%;
}
#collector-form-views.ng-enter, #collector-form-views.ng-leave {
  //position: absolute;
  -webkit-transition:all .5s ease-in-out;
  -moz-transition:all .5s ease-in-out;
  -o-transition:all .5s ease-in-out;
  transition:all .5s ease-in-out;
}

#collector-form-views.ng-enter {
  opacity: 0;
  -webkit-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}

#collector-form-views.ng-enter-active {
  opacity: 1;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

#collector-form-views.ng-leave {
  opacity: 1;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

#collector-form-views.ng-leave-active {
  opacity: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}


.translationExample {
  font-size:0.7em;
}